.ItemWrap {
  height: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Name {
  flex: 1;
  overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
  text-align: left;
}

.Price {
  margin-right: 8px;
}

.BtnDel {
  cursor: pointer;
}

